.team {
    padding: 150px 0px 200px 0px; 
}

.team-header {
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
}

.team-header-description {
    padding-top: 20px;
}

.team-member {
    background: #12a8db;
    text-align: center;
    padding: 30px 22px;
}

.team-name {
    color: white;
}

.team-title {
    color: white;
    margin-top: 15px;
    font-size: 18px;
}

.team-bio {
    color: white;
    font-size: 14px;
}

.horizontal-line-style {
    height: 2px;
    background: white;
    margin: 20px 0;
}

@media (max-width:991px) {
    .team {
        padding-bottom: 50px;
    }
}