.request-trial {
    padding: 25px 0px 0px 0px;
}

.request-trial-subTitle {
    margin-top: 20px;
}

.trialBtn {
    background: #12a8db;
    color: white;
    padding: 16px 60px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 40px;
    border: none;
}
.trialBtn:hover,
.trialBtn:focus,
.trialBtn:active {
    background: #000000 !important;
    color: #ffffff;
}